# не переписывать
# данный файл сгенерирован автоматически

package-lock.json
node_modules

# db
/.db

# mac
/**/*.DS_Store

# compiled output
/**/dist

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ide-s
/.idea
.project
.classpath
.c9/
*.launch
*.sublime-workspace
/.vscode

test
test
test
test
test
test

# generate
./src/.bd
../host/.eslintrc
../setup/.eslintrc
../apps/app1/.eslintrc
../.gitignore
../host/.gitignore
../setup/.gitignore
../apps/app1/.gitignore
../host/.prettierignore
../setup/.prettierignore
../apps/app1/.prettierignore
../host/.prettierrc.json
../setup/.prettierrc.json
../apps/app1/.prettierrc.json
../host/dev.dockerfile
../setup/dev.dockerfile
../apps/app1/dev.dockerfile
../dev.sh
../host/dev.sh
../setup/dev.sh
../apps/app1/dev.sh
../host/test.json
../setup/test.json
../apps/app1/test.json
../host/webpack.config.js
../apps/app1/webpack.config.js
../host/webpack.config.local.js
../apps/app1/webpack.config.local.js
../host/webpack.config.template.js
../apps/app1/webpack.config.template.js
../readme.md
../host/readme.md
../setup/readme.md
../apps/app1/readme.md
../host/webpack.config.from_manifest.js
../apps/app1/webpack.config.from_manifest.js
../dev.docker-compose.yml
../host/dev.docker-compose.yml
../setup/dev.docker-compose.yml
../apps/app1/dev.docker-compose.yml
../host/tsconfig.json
../setup/tsconfig.json
../apps/app1/tsconfig.json
../package.json
../host/package.json
../setup/package.json
../apps/app1/package.json
../.gitignore
../host/.gitignore
../setup/.gitignore
../apps/app1/.gitignore
../readme.md
../host/readme.md
../setup/readme.md
../apps/app1/readme.md
../host/tsconfig.json
../setup/tsconfig.json
../apps/app1/tsconfig.json
../package.json
../host/package.json
../setup/package.json
../apps/app1/package.json