{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"quoteProps": "consistent",
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"withNodeModules": true
}
